<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 pt-4">
        <h1>助けてください、里親様急募！</h1><br>
        <h3>沢山の罪のない命を救うために..</h3><br>
        <p style="color:red">【禁止事項】迷惑行為をした方は即退会させます。</p>
      </div>
    </div>
  </div>
</main>
